.bg-dark{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTY7W96E14HklVnIHTlphJhaaqk7ftXJugAOVRKvuf-YHZbLfVT) no-repeat center;
    background-size: cover;
}
a i{
    color:#fff;
}