{% extends 'base.html.twig' %}

{% block title %}Edit Omra{% endblock %}

{% block body %}
    <h1>Edit Omra</h1>

    {{ include('omra/formEdite.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('omra_index') }}">back to list</a>

    {{ include('omra/_delete_form.html.twig') }}
{% endblock %}
