{% extends 'base.html.twig' %}

{% block title %}New Omra{% endblock %}

{% block body %}
    <h1>Create new Omra</h1>

    {{ include('omra/_form.html.twig') }}

    <a href="{{ path('omra_index') }}">back to list</a>
{% endblock %}
