{% extends 'base.html.twig' %}

{% block title %}Omra{% endblock %}

{% block body %}
    <h1>Omra</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ omra.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('omra_index') }}">back to list</a>

    <a href="{{ path('omra_edit', {'id': omra.id}) }}">edit</a>

    {{ include('omra/_delete_form.html.twig') }}
{% endblock %}
