{% extends "index.html.twig" %}
                            {% block table %} 

  <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                  {{form(form)}}

                                </div>
                            </div>




                            {% endblock %}