{% extends 'Frontbase.html.twig' %}
{% block ButtonSerch%}
{% block TitreRecherche %}
   
						{% endblock %}
{% endblock %}
	{% block banner %}
{% endblock %}

		
{% block body %} 
    <!-- template -->

<div class="banner-bottom">
    <!-- container -->
    <div class="container">

    	<center>

<h1>الحمد لله وحده</h1>
<h2>بسم الله و الصلاة و السلام على رسول الله
</h2>

<h3>برامج عمرة شوال
</h3>


    	</center>


      <div class="faqs-top-grids" style="
    background: content-box;
">
        <!--single-page-->
        <div class="single-page">

        	{% for omra in omras %}

            <div class="col-md-8 single-gd-lt">
        
              <div class="flexslider" style="margin-left: 5%;">
                      
              <div class="flex-viewport" >
                          <img style="width: 938px;
    height: 341px;" src="images/products/{{omra.article.Media.image.name}}" alt=""/>


                </div>



        

                </div>
                    <!-- FlexSlider -->
              
     <div class="single-pg-hdr">
     	<div style="
    margin-left: 25%;
">
<section>
	<div class="row">
		<div class="col-6">
			                <h2>{{omra.article.titre}}</h2>

		</div>
				<div class="col-6">

<center>
<p style=" 
    width: 200%;
    font-size: x-large;
    color: coral;">{{omra.article.shortdesc}}</p>

</center>
		</div>
		<div class="col-6">

<a href="{{ path('detailArticle', parameters = {'id':omra.article.id }, relative = false) }}" style="
    width: 100%;
    height: 25px;
    color: aliceblue;
"
 class="badge badge-success"><div style="
    padding: 3%;
">Réservation</div></a>


          <hr>

		</div>

	</div>


	                

</section>

</div>

              </div>
          </div>
         {% endfor %}

        </div>
    </div>
</div>
</div>

     
		{% endblock %}

