{% extends 'Frontbase.html.twig' %}
{% block ButtonSerch%}
{% block TitreRecherche %}
   
						{% endblock %}
{% endblock %}
	{% block banner %}
{% endblock %}

		
{% block body %} 

<div class="container">
			<div class="about-info">
					<h2><center> Agence de voyage Uzita Travel Tunisie </center></h2>
			</div>
			<div class="about-grids">
				<div class="col-md-8 about-left">
					<p>

<hr>
						<strong ><b>COORDONNÉES</b></strong> 
<br>
<b>m.me/uzitatravel</b>
<br>
<b>info@uzitatraveltunisia.com</b>
<hr>
						<strong><b>Description de l’entreprise</b></strong> 
<br>
Uzita Travel est une agence de voyages réceptive en Tunisie,spécialiste dans le voyage à la carte et personnalisé. Uzita Travel est une équipe de professionnels qui ont de l'expérience dans le voyage individuel et en groupe.
<br>
						<strong><b>Date de création</b></strong> 
<br>
2009
<hr>
						<strong><b>Produits</b></strong> 
<br>
Nous pouvons offrir les services suivants pour vos clients :
Voyages à l'étranger: Le Maroc,Le Brésil,La Turquie,l'Espagne,
Tourisme médical: thalassothérapie...
Chirurgie esthétique à des prix très convenables.
Tarifs de chambres convenables pour des séjours balnéaires ou d'affaires.
Traitement V.I.P.
Circuits culturels et archéologiques mêlant plaisir et découverte.
Des circuits à thèmes pour découvrir la Tunisie.
Des circuits et des séjours combinés…
Transfert de l’aéroport vers les hôtels et des hôtels vers l'aéroport.
Golf: des séjours golfiques ou un circuit permettant une tournée tout autour des terrains de golf autour de la Tunisie, un circuit qui permet aux golfeurs de faire des parties inoubliables comme par exemple au golf de Tozeur qui marquera l'esprit de tout le monde: «un golf au Sahara".
Des safaris dans le désert accompagnés des meilleurs guides parlant parfaitement le français.
Des Visites guidées à la découverte des sites et musées.
Des services de location de voitures
La chasse
Quad au désert
Découvertes spéléologique
Plongée sous-marine
Trekking
Voyages religieux
Voyages spécialisés pour célibataires
Longs séjours médicales
Des événements d’entreprise (séminaires et incentives)
</p>
				</div>
			
				<div class="clearfix"> </div>
			</div>
		</div>
		{% endblock %}