{% extends "default/layout.html.twig" %}
{% block topdestination %}
                <div class="popular-grids">
				<!-- container -->
				<div class="container">
					<div class="popular-info">
						<h3>Top destination
							</h3>
					</div>
					<!-- slider -->
					<div class="slider">
							<div class="row">
									<div class="col-sm col-md-6 col-lg ftco-animate fadeInUp ftco-animated">
										<div class="destination">
											<a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/destination-1.jpg);">
												<div class="icon d-flex justify-content-center align-items-center">
													<span class="icon-search2"></span>
												</div>
											</a>
											<div class="text p-3">
												<div class="d-flex">
													<div class="one">
														<h3><a href="#">Paris, Italy</a></h3>
														<p class="rate">
															<i class="icon-star"></i>
															<i class="icon-star"></i>
															<i class="icon-star"></i>
															<i class="icon-star"></i>
															<i class="icon-star-o"></i>
															<span>8 Rating</span>
														</p>
													</div>
													<div class="two">
														<span class="price">$200</span>
													</div>
												</div>
												<p>Far far away, behind the word mountains, far from the countries</p>
												<p class="days"><span>2 days 3 nights</span></p>
												<hr>
												<p class="bottom-area d-flex">
													<span><i class="icon-map-o"></i> San Franciso, CA</span> 
													<span class="ml-auto"><a href="#">Discover</a></span>
												</p>
											</div>
										</div>
									</div>
									<div class="col-sm col-md-6 col-lg ftco-animate fadeInUp ftco-animated">
										<div class="destination">
											<a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/destination-2.jpg);">
												<div class="icon d-flex justify-content-center align-items-center">
													<span class="icon-search2"></span>
												</div>
											</a>
											<div class="text p-3">
												<div class="d-flex">
													<div class="one">
														<h3><a href="#">Paris, Italy</a></h3>
														<p class="rate">
															<i class="icon-star"></i>
															<i class="icon-star"></i>
															<i class="icon-star"></i>
															<i class="icon-star"></i>
															<i class="icon-star-o"></i>
															<span>8 Rating</span>
														</p>
													</div>
													<div class="two">
														<span class="price">$200</span>
													</div>
												</div>
												<p>Far far away, behind the word mountains, far from the countries</p>
												<p class="days"><span>2 days 3 nights</span></p>
												<hr>
												<p class="bottom-area d-flex">
													<span><i class="icon-map-o"></i> San Franciso, CA</span> 
													<span class="ml-auto"><a href="#">Discover</a></span>
												</p>
											</div>
										</div>
									</div>
									<div class="col-sm col-md-6 col-lg ftco-animate fadeInUp ftco-animated">
										<div class="destination">
											<a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/destination-3.jpg);">
												<div class="icon d-flex justify-content-center align-items-center">
													<span class="icon-search2"></span>
												</div>
											</a>
											<div class="text p-3">
												<div class="d-flex">
													<div class="one">
														<h3><a href="#">Paris, Italy</a></h3>
														<p class="rate">
															<i class="icon-star"></i>
															<i class="icon-star"></i>
															<i class="icon-star"></i>
															<i class="icon-star"></i>
															<i class="icon-star-o"></i>
															<span>8 Rating</span>
														</p>
													</div>
													<div class="two">
														<span class="price">$200</span>
													</div>
												</div>
												<p>Far far away, behind the word mountains, far from the countries</p>
												<p class="days"><span>2 days 3 nights</span></p>
												<hr>
												<p class="bottom-area d-flex">
													<span><i class="icon-map-o"></i> San Franciso, CA</span> 
													<span class="ml-auto"><a href="#">Discover</a></span>
												</p>
											</div>
										</div>
									</div>
									<div class="col-sm col-md-6 col-lg ftco-animate fadeInUp ftco-animated">
										<div class="destination">
											<a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/destination-4.jpg);">
												<div class="icon d-flex justify-content-center align-items-center">
													<span class="icon-search2"></span>
												</div>
											</a>
											<div class="text p-3">
												<div class="d-flex">
													<div class="one">
														<h3><a href="#">Paris, Italy</a></h3>
														<p class="rate">
															<i class="icon-star"></i>
															<i class="icon-star"></i>
															<i class="icon-star"></i>
															<i class="icon-star"></i>
															<i class="icon-star-o"></i>
															<span>8 Rating</span>
														</p>
													</div>
													<div class="two">
														<span class="price">$200</span>
													</div>
												</div>
												<p>Far far away, behind the word mountains, far from the countries</p>
												<p class="days"><span>2 days 3 nights</span></p>
												<hr>
												<p class="bottom-area d-flex">
													<span><i class="icon-map-o"></i> San Franciso, CA</span> 
													<span class="ml-auto"><a href="#">Discover</a></span>
												</p>
											</div>
										</div>
									</div>
									<div class="col-sm col-md-6 col-lg ftco-animate fadeInUp ftco-animated">
										<div class="destination">
											<a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/destination-5.jpg);">
												<div class="icon d-flex justify-content-center align-items-center">
													<span class="icon-search2"></span>
												</div>
											</a>
											<div class="text p-3">
												<div class="d-flex">
													<div class="one">
														<h3><a href="#">Paris, Italy</a></h3>
														<p class="rate">
															<i class="icon-star"></i>
															<i class="icon-star"></i>
															<i class="icon-star"></i>
															<i class="icon-star"></i>
															<i class="icon-star-o"></i>
															<span>8 Rating</span>
														</p>
													</div>
													<div class="two">
														<span class="price">$200</span>
													</div>
												</div>
												<p>Far far away, behind the word mountains, far from the countries</p>
												<p class="days"><span>2 days 3 nights</span></p>
												<hr>
												<p class="bottom-area d-flex">
													<span><i class="icon-map-o"></i> San Franciso, CA</span> 
													<span class="ml-auto"><a href="#">Discover</a></span>
												</p>
											</div>
										</div>
									</div>
								</div>
								<script type="text/javascript" src="js/jquery.flexisel.js"></script>			 
						</div>
					</div>
					<!-- //slider -->
				</div>
				<!-- //container -->
			</div>
					{% endblock %}
