{% extends 'base.html.twig' %}

{% block title %}Edit Jour{% endblock %}

{% block body %}
    <h1>Edit Jour</h1>

    {{ include('jour/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('jour_index') }}">back to list</a>

    {{ include('jour/_delete_form.html.twig') }}
{% endblock %}
