{% extends 'base.html.twig' %}

{% block title %}New Jour{% endblock %}

{% block body %}
    <h1>Jour -Voyage </h1>

    {{ include('jour/_form.html.twig') }}

    <a href="{{ path('jour_index') }}">back to list</a>
{% endblock %}
