{% extends 'base.html.twig' %}

{% block title %}Edit Voyage{% endblock %}

{% block body %}
    <h1>Edit Voyage</h1>

    {{ include('circuits/_formEdit.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('circuit_index') }}">back to list</a>

    {{ include('circuits/_delete_form.html.twig') }}
{% endblock %}
