{% extends 'default/layout.html.twig' %}

    
   
        {% block body %}
        <!-- banner-bottom -->
			<div class="banner-bottom">
				<!-- container -->
				<div class="container">
				
					<div class="banner-bottom-grids">
                    {% block sejourtunis %}
						
					 {% endblock %}
           {% block sejouretranger %}
                
      {% endblock %}
      {% block promos %}
				
    {% endblock %}
			<!-- //banner-bottom -->
			<!-- popular-grids -->
			{% block topdestination %}
			
			{% endblock %}
			{% block tophotel %}
		    	
			{% endblock %}
			<!-- popular-grids -->
			<!-- //footer -->
			<div class="container" style="background-color: #d58d08;"><br><br>
				<div class="wow zoomIn animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: zoomIn;">
					<div class="col-md-4&quot;"></div>
					<div class="col-md-4&quot;">
						<h3 style="text-align: center">Uzita Travel en 5 points essentiels</h3><br><br>
					</div>
					<div class="col-md-1"></div>
						<div class="col-md-2">
							<h6 style="color: black ; text-align: center">ZÉRO FRAIS DE DOSSIER</h6>
							<span class="swim-icon-1" style="
							background: url(images/Top5Banniare/s7.png)no-repeat;
						"> </span>
							<h6 style="color: black ; text-align: center">En ligne</h6>
						</div>
						<div class="col-md-2 ">
							<h6 style="color: black ; text-align: center">DES CONSEILLERS</h6>
							<span class="swim-icon-1" style="
							background: url(images/Top5Banniare/c.png)no-repeat;
						"> </span>
							<h6 style="color: black ; text-align: center">A votre écoute</h6>
						</div>
						<div class="col-md-2 ">
							<h6 style="color: black ; text-align: center">RÉSEAU D'AGENCE</h6>
							<span class="swim-icon-1" style="
							background: url(images/Top5Banniare/s9.png)no-repeat;
						"> </span>
							<h6 style="color: black ; text-align: center">A votre côté</h6>
						</div>
						<div class="col-md-2 ">
							<h6 style="color: black ; text-align: center">EXPERTISE &amp; DIVERSITÉ</h6>
							<span class="swim-icon-1" style="
							background: url(images/Top5Banniare/s10.png)no-repeat;
						"> </span>
							<h6 style="color: black ; text-align: center">De l'offre</h6>
						</div>
						<div class="col-md-2 ">
							<h6 style="color: black ; text-align: center">PIONNIER</h6>
							<span class="swim-icon-1"style="
							background: url(images/Top5Banniare/s11.png)no-repeat;
						" > </span>
							<h6 style="color: black ; text-align: center">Du voyage organisé</h6>
						</div>
						<div class="col-md-1"></div>
						<div class="clearfix"> </div><br><br>
					</div>
				</div>
        
        {% endblock %}
  